[Desktop Entry]
Name=Pinot Metasearch Tool
Name[de]=Pinot Werkzeug zur Metasuche
Name[es]=Herramienta metabuscador Pinot
Name[fr]=Pinot Outil De Recherche
Name[he]=כלי חיפוש־מטא לשולחן העבודה החופשי
Name[it]=Pinot metamotore di ricerca
Name[ja]=Pinotメタサーチツール
Name[nl]=Pinot Metazoek Tool
Name[pt]=Mecanismo de metabusca Pinot
Name[pt_BR]=Mecanismo de metabusca Pinot
Name[ru]=Инструмент метапоиска Pinot
Name[sv]=Pinot Metasökningsverktyg
Name[zh_CN]=元搜寻工具
Name[zh_TW]=元搜尋工具
Comment=Search the Web and your documents
Comment[de]=Durchsuchen Sie das Internet und Ihre Dokumente
Comment[es]=Busca en el web y en sus documentos
Comment[fr]=Cherche le Web et vos documents
Comment[he]=חיפוש באינטרנט ובמסמכים שלך
Comment[it]=Cerca nel Web e nei documenti
Comment[ja]=ウェブとドキュメントを検索します
Comment[nl]=Zoek het web en uw documenten
Comment[pt]=Pesquise a Web e os seus documentos
Comment[pt_BR]=Procurar a Rede e seus documentos
Comment[ru]=Search the Web and your documents
Comment[sv]=Sök på webben och i dina dokument
Comment[zh_CN]=搜寻网络路和你的文件
Comment[zh_TW]=搜尋網際網路和你的文件
Exec=pinot
StartupNotify=true
Icon=pinot
Terminal=false
Type=Application
Categories=GTK;Core;Network;System;Filesystem;
